---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -cert-*,
        -cppcoreguidelines-pro-bounds-pointer-arithmetic,
        -fuchsia-*,
        -google-*,
        -hicpp-*,
        -linuxkernel-*,
        -llvm-*,
        -llvmlibc-*,
        -mpi-*,
        -objc-*,
        -openmp-*,
        -portability-avoid-pragma-once,
        -readability-identifier-length,
        -zircon-*,
        cert-dcl50-cpp,
        cert-dcl58-cpp,
        cert-env33-c,
        cert-err33-c,
        cert-err34-c,
        cert-err52-cpp,
        cert-err58-cpp,
        cert-err60-cpp,
        cert-flp30-c,
        cert-mem57-cpp,
        cert-msc50-cpp,
        cert-msc51-cpp,
        cert-oop57-cpp,
        cert-oop58-cpp,
        google-build-namespaces,
        google-readability-casting,
        llvm-namespace-comment
"
CheckOptions:
  misc-include-cleaner.IgnoreHeaders: 'sc2api/sc2_typeenums.h;sc2api/typeids/.*'
  readability-function-cognitive-complexity.DescribeBasicIncrements: false
ExcludeHeaderFilterRegex: '.*/_deps/.*'
FormatStyle: none
HeaderFilterRegex: '.*/src/.*'
# WarningsAsErrors: '*'
