[submodule "contrib/protobuf"]
	path = contrib/protobuf
	url = https://github.com/google/protobuf
[submodule "protocol"]
	path = protocol
	url = https://github.com/Blizzard/s2client-proto
[submodule "contrib/civetweb"]
	path = contrib/civetweb
	url = https://github.com/cpp-sc2/civetweb.git
[submodule "SDL"]
	path = contrib/SDL
	url = https://github.com/libsdl-org/SDL
	branch = 2.0.22
